@font-face {
  font-family: "GothaProBol";
  src: local("GothaProBol"), url("../assets/fonts/GothaProBol.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "GothaProMed";
  src: local("GothaProMed"), url("../assets/fonts/GothaProMed.otf") format("opentype");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "GothaProReg";
  src: local("GothaProReg"), url("../assets/fonts/GothaProReg.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "GothaProReg";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.wrap {
  width: 100%;
  margin-left: auto;
}

.wrapper {
  max-width: 1256px;
  margin: auto;
}

input[type="button"] {
  font-family: "GothaProMed";
  font-size: 16px;
}

.header {
  width: 100%;
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo_btn {
  width: 105px;
  height: 105px;
  background: #e30613;
  border: none;
}

.nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 105px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.search_form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 55px;
}

.search {
  width: 390px;
  height: 50px;
  background: inherit;
  opacity: 0.6;
  border: none;
}

.search:hover {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background: rgba(17, 17, 17, 0.08);
}

.btn_serch {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  background: inherit;
}

.nav_list {
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 670px;
}

.header_slider_block {
  display: block;
  width: 100%;
  height: 660px;
  background-image: url(../assets/img/header_bg.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top;
}

.nav_list li:not(:nth-child(3)) {
  margin-right: 30px;
}

.item_nav_list {
  width: 100px;
}

.nav_link {
  font-family: "GothaProMed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #828282;
}

.nav_link:hover {
  color: #e30613;
  font-size: 18px;
}

a {
  text-decoration: none;
}

.link_number_contact_block,
.nav_link_item,
.social_link {
  text-decoration: none;
}

.visit_about,
.visit_products,
.visit_shops,
.visit_contacts {
  color: #e30613;
  font-weight: bold;
}

.main {
  width: 100%;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "GothaPro";
}

.category {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.second_column_category {
  margin: 40px 0;
}

.wrap_item__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrap_discript {
  width: 245px;
  height: 167px;
  margin-right: 19px;
}

.item_gategory {
  position: relative;
  width: 610px;
  height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 1;
  background: #f8f8f8;
}

.first_item_category,
.third_item_category,
.fifth_item_category {
  margin-right: 20px;
}

.second_item_category,
.fourth_item_category,
.sixth_item_category {
  margin-left: 20px;
}

.link_home_category {
  text-decoration: none;
  font-family: "GothaProReg";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #828282;
}

.img_goods_catalog_items {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.title_category {
  font-family: "GothaProMed";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #828282;
  margin-top: 0;
}

.discript_category {
  font-family: "GothaProMed";
  width: 244px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 108%;
  color: #4f4f4f;
  margin: 19px 0 13px;
}

.btn_catagory {
  font-style: normal;
  font-weight: bold;
  font-size: 16.8px;
  line-height: 22px;
  border: none;
  background: inherit;
  color: #828282;
}

.img_more {
  padding-left: 10px;
}

.about,
.promo,
.our_shops {
  margin-top: 100px;
}

.about {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gallery {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrap_new_promo_product {
  background-color: #fcfcfc;
  width: 100%;
}

.about_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 100px 0 81px;
}

.wrap_title_about {
  width: 526px;
  text-align: left;
  color: #4f4f4f;
}

.title_about {
  margin-top: 18px;
  font-family: "GothaProBol";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 108%;
  letter-spacing: -0.01em;
}

.wrap_about_discript {
  width: 608px;
  font-family: "GothaProMed";
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.01em;
  color: #4f4f4f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.key_word {
  font-family: "GothaProMed";
  font-weight: 700;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.01em;
  color: #4f4f4f;
}

.img_about_1 {
  width: 716px;
  height: 500px;
}

.img_about {
  width: 100%;
  height: 100%;
}

.img_about_2 {
  width: 392px;
  height: 500px;
  margin-left: 150px;
}

.wrap_country_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #4f4f4f;
}

.country_partner {
  font-family: "GothaProMed";
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.01em;
  color: #4f4f4f;
  list-style: none;
}

.country_partner::before {
  content: "-";
  padding-right: 10px;
}

.first_partner_list,
.second_partner_list {
  padding: 0;
  margin: 0;
}

.first_partner_list {
  margin-right: 210px;
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background: #fcfcfc;
  margin-bottom: 100px;
}

.new_promo_product {
  width: 608px;
}

.new_promo_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news_promo_block {
  width: 502px;
  font-style: normal;
  line-height: 32px;
  color: #4f4f4f;
}

.title_promo {
  font-family: "GothaProBol";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
}

.discript_news_promo {
  font-family: "GothaProReg";
  font-size: 26px;
  line-height: 32px;
  font-size: 18px;
}

.our_shops {
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 140px;
}

.wrapper_slider_shops {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.shops_slide {
  width: 392px;
  height: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.img_sliders {
  width: 100%;
}

.second_slide {
  margin: 0 40px;
}

.title_shops {
  font-family: "GothaProBol";
  font-size: 26px;
  line-height: 32px;
  margin: 0 0 40px 0;
  color: #4f4f4f;
}

.discript_slider_shops {
  margin: 50px 0 0 0;
  font-weight: 700;
  font-family: "GothaProBol";
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #4f4f4f;
}

.discript_font {
  font-family: "GothaProReg";
  font-weight: 400;
  font-size: 18px;
}

.address_shops {
  width: 312px;
  font-family: "GothaProBol";
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  color: #4f4f4f;
}

.main_contacts {
  margin: 100px 0;
  color: #4f4f4f;
}

.office_contacts_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.social_link_btn__contact_block {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #828282;
  background-color: inherit;
}

.location_office {
  width: 716px;
  height: 500px;
}

.location_office img {
  width: 100%;
  height: 500px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 427px;
  width: 234px;
  font-family: "GothaProReg";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.01em;
  color: #4f4f4f;
  margin-right: 155px;
}

.address_main_office {
  margin: 0;
}

.title_address_office_block {
  font-family: "GothaProBol";
  margin-top: 35px;
  font-size: 16px;
}

.title_contacts_office_work_block {
  margin: 30px 0 0;
  font-size: 16px;
}

.address_main_office,
.title_contacts_office_work_block {
  font-weight: 600;
  font-size: 16px;
}

.discript_work_day_office_block {
  font-weight: 400;
  font-size: 16px;
}

.title_disc_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.link_number_contact_block {
  color: #4f4f4f;
  font-family: "GothaProBol";
  font-size: 16px;
}

.social_block {
  margin-top: 50px;
}

.btn_insta {
  margin: 0 20px;
}

.title_work_day_office_block {
  margin: 35px 0 0;
  font-size: 16px;
  font-family: "GothaProBol";
}

.place_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
  padding-bottom: 100px;
}

.discr_input_form_feedback {
  font-family: "GothaProMed";
  font-size: 14px;
}

.second_paragraph_text_block__place_block {
  margin-top: 35px;
}

.gallery__place_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 501px;
}

.img_gallery__place_block {
  width: 238px;
  height: 238px;
}

.first_img_galery__place_block {
  margin: 0 12.5px 12.5px 0;
}

.second_img_galery__place_block {
  margin: 12.5px 12.5px 0 0;
}

.third_img_galery__place_block {
  margin: 0 0 12.5px 12.5px;
}

.fourth_img_galery__place_block {
  margin: 12.5px 0 0 12.5px;
}

.text_block__place_block {
  width: 605px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.title_text_block__place_block {
  margin: 0 0 40px;
}

.first_paragraph_text_block__place_block,
.second_paragraph_text_block__place_block {
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 108%;
  letter-spacing: -0.01em;
}

.first_paragraph_text_block__place_block,
.second_paragraph_text_block__place_block {
  font-family: "GothaProReg";
  font-size: 16px;
  line-height: 26px;
}

.wrapper_back_contact {
  background: #fcfcfc;
}

.back_contact {
  padding-top: 100px;
  height: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.title_back_contact {
  font-family: "GothaProBol";
  font-size: 32px;
}

.dicsrript_back_contact {
  font-family: "GothaProReg";
  font-size: 16px;
}

.contact_form_feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.column_contact_form_feedback,
.first_column_input,
.second_column_input,
.third_column_input,
.second_wrap_column_form_work_inquiries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 270px;
  font-family: "GothaPro";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
}

.input_feedback_form {
  padding-left: 15px;
  height: 50px;
  background: rgba(17, 17, 17, 0.08);
  border: none;
  opacity: 0.6;
}

.second_column_contact_form_feedback,
.second_column_input {
  margin: 0 40px;
}

.text_block__back_contact {
  width: 240px;
}

.send_form_feedback,
.btn_error {
  width: 176px;
  height: 50px;
  border: none;
  background-color: #e30613;
  color: #fff;
  margin-top: 50px;
  font-family: " GothaPro";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}

.discr_input_form_feedback {
  margin: 30px 0 10px;
}

.news_block__contacts_page {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.img_news_block__contacts_page {
  width: 100%;
}

.img_block__news_block {
  width: 501px;
}

.text_block__news_block__contacts_page {
  width: 606px;
}

.title_text_block {
  margin: 0 0 40px;
}

.second_paragraph_discr_text_block__contacts_page {
  margin-top: 40px;
}

.discr_text_block {
  font-family: "GothaProReg";
  font-size: 16px;
  line-height: 26px;
  color: #4f4f4f;
}

.work_inquairies {
  height: auto;
  padding-bottom: 100px;
}

.title_text_block {
  font-family: "GothaProBol";
  font-size: 38px;
  line-height: 108%;
}

.form_work_inquiries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.dsc_input_work_form {
  font-family: "GothaProReg";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.01em;
  color: #4f4f4f;
}

.input__form_work_inquiries {
  font-family: "GothaPro";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.01em;
  color: #828282;
}

.first_wrap_column_form_work_inquiries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn_wrap_form_work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.send_form_work {
  margin-left: 40px;
  width: 176px;
  height: 50px;
}

.textarea__feedback_form {
  height: 175px;
  width: 100%;
  padding-top: 15px;
  resize: none;
  color: #828282;
}

.input_file {
  width: 0.1px;
  height: 0.1px;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  opacity: 0;
}

.second_wrap_column_form_work_inquiries {
  width: 930px;
}

.input_file + label {
  font-family: "GothaPro";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  width: 175px;
  padding: 14px;
  margin-top: 50px;
  color: white;
  background-color: #828282;
  text-align: center;
  cursor: pointer;
}

.about {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text_abot_content,
.text_country_list {
  color: #4f4f4f;
}

.about_us {
  margin: 0;
}

.wrap_title_about {
  margin-right: 40px;
}

.column_content_about_page {
  width: 606px;
}

.title_about_page {
  margin-bottom: 35px;
}

.title_country_list_about_page {
  margin-bottom: 40px;
}

.new_paragraph__text_abot_content {
  margin-top: 40px;
}

.second_paragraph_text_block__about_page {
  margin-top: 35px;
}

.text_content_about_page {
  font-family: "GothaProReg";
  font-size: 16px;
  line-height: 26px;
}

.first_paragraph_country_list_about_page {
  margin: 45px 0 25px;
}

.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column_error_block {
  color: #4f4f4f;
}

.title_error {
  font-family: "GothaProBol";
  font-size: 36px;
  line-height: 26px;
  letter-spacing: -0.01em;
}

.text_error_page {
  font-family: "GothaProBol";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.01em;
}

.link_error {
  color: #fff;
}

.title__not_found {
  text-align: left;
  font-family: "GothaProBol";
  font-size: 38px;
  line-height: 108%;
  letter-spacing: -0.01em;
}

.second_error_block {
  margin-left: 145px;
}

.wrap_goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 25px;
  margin-bottom: 28px;
}

.breadcrumbs {
  font-family: "GothaProReg";
  font-size: 16px;
  color: #4f4f4f;
}

.btn_goods_home {
  height: 24px;
  border: none;
  background: inherit;
  vertical-align: middle;
}

.link_goods_home {
  font-family: "GothaProMed";
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  letter-spacing: -0.01em;
  color: #e30613;
}

.text_in_btn {
  margin-left: 14px;
}

.goods {
  color: #828282;
  line-height: 26px;
  letter-spacing: -0.01em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.goods_block {
  width: 608px;
  margin-right: 40px;
}

.discript_block_goods_shops_page_product {
  width: 530px;
  margin-right: 90px;
}

.title__discript_goods {
  font-family: "GothaProBol";
  font-size: 36px;
  color: #4f4f4f;
}

.mark_goods {
  font-family: "GothaProReg";
  font-size: 16px;
  color: #4f4f4f;
  line-height: 26px;
  letter-spacing: -0.01em;
}

.disc_category_goods {
  font-family: "GothaProReg";
  font-size: 16px;
  color: #828282;
  line-height: 26px;
  letter-spacing: -0.01em;
}

.text_goods_card {
  font-family: "GothaProReg";
  font-size: 16px;
  color: #4f4f4f;
}

.chek_list {
  font-family: "GothaProMed";
  font-size: 16px;
  color: #4f4f4f;
  line-height: 26px;
  letter-spacing: -0.01em;
  padding-left: 23px;
}

.item_check_list {
  list-style-image: url(../assets/img/goods_vector.svg);
}

.footer {
  padding-top: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: #4f4f4f;
}

.footer_column_wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.title_footer_column {
  margin: 0;
}

.item_social_list {
  list-style-type: none;
}

.item_list_address {
  list-style-type: none;
}

.footer_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 18px;
  margin-bottom: 80px;
}

.privacy_policy {
  font-family: "GothaProReg";
  width: 1256px;
  padding: 25px 0;
  border-top: solid 1px #191f23;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #283742;
  opacity: 0.8;
}

.social_link_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_logo_link {
  margin-top: 5px;
}

.social_link,
.item_list_address {
  font-family: "GothaProReg";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.01em;
  color: #191f23;
  opacity: 0.8;
}

.discript_subscribe,
.title_footer_column {
  font-family: "GothaProBol";
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.01em;
  font-style: normal;
  line-height: 32px;
}

.discript_subscribe {
  margin-bottom: 20px;
}

.sub_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input_sub {
  padding: 0 0 0 15px;
  width: 150px;
  height: 50px;
  background: #f8f8f8;
  color: #828282;
  border: none;
}

.btn_sub {
  padding: 0;
  width: 125px;
  height: 50px;
  border: none;
  background: #e30613;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
}

.address_list p {
  margin: 14px 0 0 0;
}

.social_link_list a {
  margin: 14px 0 0 0;
}

@media only screen and (max-width: 1366px) {
  .nav {
    width: 100%;
  }
}

@media only screen and (max-width: 1266px) {
  .nav_list {
    width: 500px;
  }
  .text_block__place_block {
    text-align: center;
    padding: 0;
    width: 54%;
  }
  .search {
    width: 340px;
  }
  .item_gategory {
    width: 575px;
  }
  .img_about_2 {
    margin-left: 100px;
  }
  .goods_block {
    width: 60%;
  }
  .discript_block_goods_shops_page_product {
    width: 35%;
    margin: 0;
  }
}

@media only screen and (max-width: 1180px) {
  .place_block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .column_gallery__place_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .img_about_2 {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 1024px) {
  .nav_list {
    width: 520px;
  }
  .search {
    width: 200px;
  }
  .about_content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrap_title_about {
    text-align: center;
  }
  .promo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .new_promo_product,
  .news_promo_block {
    width: 50%;
  }
  .our_shops {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper_slider_shops {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .shops_slide {
    width: 23%;
  }
  .text_privacy_policy {
    margin: 0px 57px;
  }
  .gallery {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .item_gategory {
    width: 560px;
  }
  .img_about_1 {
    width: 560px;
  }
  .gallery__place_block {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .column_gallery__place_block {
    margin-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .first_item_category,
  .third_item_category,
  .fifth_item_category {
    margin: 0 0 40px 0;
  }
  .second_item_category,
  .fourth_item_category,
  .sixth_item_category {
    margin: 0;
  }
  .img_gallery__place_block {
    margin-left: 25px;
  }
  .place_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .title_text_block__place_block {
    margin-top: 0;
  }
  .text_block__place_block {
    width: 90%;
    text-align: center;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (max-width: 980px) {
  .about {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav_list {
    width: 420px;
  }
  .search {
    width: 180px;
  }
  .wrap_item__category {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gallery {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .img_about_1 {
    width: 100%;
  }
  .img_about_2 {
    display: none;
  }
  .about_content {
    padding: 0 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrap_country_list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .promo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .first_partner_list {
    margin-right: 140px;
  }
  .new_promo_product,
  .news_promo_block {
    width: 30%;
  }
  .wrap_about_discript_about_page {
    width: 100%;
    text-align: center;
  }
  .wrap_title_about {
    width: 606px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .our_shops {
    display: none;
  }
  .privacy_policy {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .text_privacy_policy {
    margin: 0 15px;
  }
  .sub_form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .sub_form .input_sub {
    padding: 0;
  }
  .sub_form .btn_sub {
    margin-top: 15px;
  }
  .sub_form .input_sub,
  .sub_form .btn_sub {
    height: 40px;
  }
  .sub_form .column_form_subscribe {
    margin-right: 10px;
  }
  .back_contact {
    margin-top: 50px;
    padding-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .first_wrap_column_form_work_inquiries {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .second_wrap_column_form_work_inquiries {
    width: 55%;
  }
  .btn_wrap_form_work {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .send_form_work {
    margin-left: 0;
  }
  .contact_form_feedback {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .column_contact_form_feedback,
  .first_column_input,
  .second_column_input,
  .third_column_input {
    width: 176px;
  }
  .discr_input_form_feedback {
    margin-top: 15px;
  }
  .second_column_contact_form_feedback,
  .second_column_input {
    margin: 0 25px;
  }
  .send_form_feedback {
    width: 176px;
  }
  .text_block__back_contact {
    width: 100%;
    text-align: center;
  }
  .office_contacts_block {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contacts {
    width: 25%;
  }
  .footer_column_wrap {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .news_block__contacts_page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news_block__contacts_page div {
    width: 90%;
  }
}

@media only screen and (max-width: 812px) {
  .main,
  .footer {
    margin-top: 35px;
  }
  .search_form {
    display: none;
  }
  .header_slider_block {
    display: none;
  }
  .header_logo {
    position: relative;
    left: -26px;
  }
  .nav_list {
    padding-left: 0;
    margin-left: 35px;
  }
  .img_about_1 {
    width: 87%;
  }
  .footer_column_wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .column_social_network {
    margin: 0 100px;
  }
  .logo_column {
    display: none;
  }
  .title__not_found {
    font-size: 22px;
  }
  .btn_error {
    width: 145px;
    margin-top: 20px;
  }
  .first_partner_list {
    margin-right: 65px;
    text-align: left;
  }
  .second_partner_list {
    text-align: left;
  }
  .error {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .second_error_block {
    margin: 20px 0 0 0;
  }
}

@media only screen and (max-width: 620px) {
  .logo_btn {
    display: none;
  }
  .item_nav_list {
    width: 25%;
  }
  .nav_list {
    margin: 0;
  }
  .item_nav_list:not(:first-child) {
    margin-left: 15px;
  }
  .img_about_1 {
    width: auto;
    height: auto;
  }
  .img_about {
    height: auto;
  }
  .column_social_network {
    margin: 0 20px;
  }
}
