body {
  margin: 0;
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.wrapper {
  max-width: 1600px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr 10fr 0.4fr;
      grid-template-rows: 2fr 10fr 0.4fr;
}

.logo {
  height: 100%;
}

.header {
  width: 100%;
  background-image: url(../assets/img/header_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}

.nav {
  background: #f8f8f8;
  height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.nav_list {
  width: 65%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_list .nav_list__item {
  margin-left: 55px;
}

.nav_list .nav_list__item .nav_link_item {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #828282;
}

.nav_list .nav_list__item .nav_link_item:hover {
  color: #e30613;
}

.search_form {
  margin-right: 70px;
}

.search {
  border: none;
  width: 380px;
  height: 50px;
  background: url(../assets/img/search.png) no-repeat 340px;
}

.main {
  width: 100%;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.category {
  width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrap_item__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrap_discript {
  padding-right: 40px;
}

.item_gategory {
  background: rgba(0, 0, 0, 0.04);
  width: 610px;
  height: 360px;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.title_category {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #828282;
}

.discript_category {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 108%;
  color: #4f4f4f;
}

.btn_catagory {
  font-style: normal;
  font-weight: bold;
  font-size: 16.8px;
  line-height: 22px;
  border: none;
  background: inherit;
  color: #828282;
}

.img_more {
  padding-left: 10px;
}

.about {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gallery {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.about_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.wrap_title_about {
  width: 411px;
  text-align: left;
  height: 123px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.01em;
  color: #4f4f4f;
}

.wrap_about_discript {
  width: 630px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.01em;
  color: #4f4f4f;
}

.key_word {
  font-weight: bold;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.01em;
  color: #4f4f4f;
}

.img_about_2 {
  position: absolute;
  left: 1065px;
}

.wrap_country_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #4f4f4f;
}

.country_partner {
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.01em;
  color: #4f4f4f;
  list-style: none;
}

.country_partner::before {
  content: "-";
  padding-right: 10px;
}

.first_partner_list,
.second_partner_list {
  padding: 0;
  margin: 0;
}

.first_partner_list {
  margin-right: 210px;
}

.promo {
  width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background: #fcfcfc;
}

.new_promo_product,
.news_promo_block {
  width: 45%;
}

.new_promo_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news_promo_block {
  font-family: Gotham Pro;
  font-style: normal;
  line-height: 32px;
  color: #4f4f4f;
}

.title_promo {
  font-weight: bold;
  font-size: 26px;
}

.discript_news_promo {
  font-size: 17px;
}

.our_shops {
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.wrapper_slider_shops {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.shops_slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.second_slide {
  margin: 0 40px;
}

.title_shops {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
}

.discript_slider_shops {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #4f4f4f;
}

.discript_slider_shops .discript_font {
  font-weight: 400;
}

.address_shops {
  width: 290px;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  color: #4f4f4f;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.footer_column_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1256px;
}

.footer_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.privacy_policy {
  width: 1256px;
  padding-top: 25px;
  border-top: solid 1px #191f23;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo_column {
  width: 24%;
}

.column_adress {
  width: 24%;
}

.column_social_network {
  width: 24%;
}

.column_form_subscribe {
  width: 24%;
}

.social_link_list {
  padding: 0;
}

@media only screen and (max-width: 1400px) {
  .gallery {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .img_about_2 {
    display: none;
  }
  .about_content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrap_country_list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .first_partner_list {
    margin-right: 50px;
  }
  .wrap_title_about {
    width: 100%;
    text-align: center;
  }
  .img_sliders {
    width: 250px;
    height: 250px;
  }
}

@media only screen and (max-width: 1280px) {
  .wrapper {
    max-width: 1280px;
  }
  .wrap_item__category {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
