@font-face {
  font-family: "GothaPro";
  src: local("GothaProIta"), url("../assets/fonts/GothaProIta.eot");
}

body {
  margin: 0;
  font-family: "GothaPro", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.wrap {
  width: 100%;
  margin-left: auto;
}

.wrapper {
  max-width: 1256px;
  margin: auto;
}

.header {
  width: 100%;
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo_btn {
  width: 105px;
  height: 105px;
  background: #e30613;
  border: none;
}

.nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 105px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header_logo {
  position: absolute;
  left: -100px;
}

.nav_list {
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 670px;
  margin-left: 100px;
  padding-left: 100px;
}

.header_slider_block {
  display: block;
  width: 100%;
  height: 660px;
  background-image: url(../assets/img/header_bg.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top;
}

.item_nav_list:not(:first-child) {
  margin-left: 55px;
}

.nav_link {
  font-family: "GothaPro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #828282;
}

.nav_link:hover {
  color: #e30613;
  font-weight: bold;
}

p,
h1,
h2,
h3,
a {
  font-family: "GothaPro";
}

a {
  text-decoration: none;
}

.link_number_contact_block,
.nav_link_item,
.social_link {
  text-decoration: none;
}

.visit_about,
.visit_products,
.visit_shops,
.visit_contacts {
  color: #e30613;
  font-weight: bold;
}

.main {
  width: 100%;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "GothaPro";
}

.category {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrap_item__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrap_discript {
  padding-right: 40px;
}

.item_gategory {
  background-repeat: no-repeat;
  width: 610px;
  height: 360px;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.link_home_category {
  text-decoration: none;
  font-family: "GothaPro";
  font-style: normal;
  font-weight: bold;
  font-size: 16.8px;
  line-height: 22px;
  color: #828282;
}

.first_item_category {
  background-image: url(../assets/img/img_home_categories/category_1.png);
}

.second_item_category {
  background-image: url(../assets/img/img_home_categories/category_2.png);
}

.third_item_category {
  background-image: url(../assets/img/img_home_categories/category_3.png);
}

.fourth_item_category {
  background-image: url(../assets/img/img_home_categories/category_4.png);
}

.fifth_item_category {
  background-image: url(../assets/img/img_home_categories/category_5.png);
}

.sixth_item_category {
  background-image: url(../assets/img/img_home_categories/category_6.png);
}

.title_category {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #828282;
}

.discript_category {
  width: 244px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 108%;
  color: #4f4f4f;
}

.btn_catagory {
  font-style: normal;
  font-weight: bold;
  font-size: 16.8px;
  line-height: 22px;
  border: none;
  background: inherit;
  color: #828282;
}

.img_more {
  padding-left: 10px;
}

.about,
.promo,
.our_shops {
  margin-top: 100px;
}

.about {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gallery {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
}

.wrap_title_about {
  width: 55%;
  text-align: left;
  height: 123px;
  color: #4f4f4f;
}

.title_about {
  margin-top: 18px;
  font-family: "GothaPro";
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 108%;
  letter-spacing: -0.01em;
}

.wrap_about_discript {
  width: 40%;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.01em;
  color: #4f4f4f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.key_word {
  font-weight: bold;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.01em;
  color: #4f4f4f;
}

.img_about_1 {
  width: 716px;
  height: 500px;
}

.img_about_1 img {
  width: 100%;
  height: 100%;
}

.img_about_2 {
  width: 392px;
  height: 500px;
}

.img_about_2 img {
  width: 100%;
  height: 100%;
}

.wrap_country_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #4f4f4f;
}

.country_partner {
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.01em;
  color: #4f4f4f;
  list-style: none;
}

.country_partner::before {
  content: "-";
  padding-right: 10px;
}

.first_partner_list,
.second_partner_list {
  padding: 0;
  margin: 0;
}

.first_partner_list {
  margin-right: 210px;
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background: #fcfcfc;
}

.new_promo_product,
.news_promo_block {
  width: 50%;
}

.new_promo_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news_promo_block {
  font-family: "GothaPro";
  font-style: normal;
  line-height: 32px;
  color: #4f4f4f;
}

.title_promo {
  font-weight: bold;
  font-size: 26px;
}

.discript_news_promo {
  font-size: 17px;
}

.our_shops {
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.wrapper_slider_shops {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.shops_slide {
  width: 33%;
  height: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.img_sliders {
  width: 100%;
}

.second_slide {
  margin: 0 40px;
}

.title_shops {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
}

.discript_slider_shops {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #4f4f4f;
}

.discript_slider_shops .discript_font {
  font-weight: 400;
}

.address_shops {
  width: 290px;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  color: #4f4f4f;
}

.main_contacts {
  margin: 100px 0;
  color: #4f4f4f;
}

.office_contacts_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.social_link_btn__contact_block {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #828282;
  background-color: inherit;
}

.location_office {
  width: 60%;
  height: 500px;
}

.location_office img {
  width: 100%;
  height: 100%;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 335px;
  width: 35%;
  font-family: "GothaPro";
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.01em;
  font-weight: 600;
  color: #4f4f4f;
}

.address_main_office {
  margin-bottom: 0;
}

.title_address_office_block,
.title_work_day_office_block,
.link_number_contact_block {
  margin-bottom: 0;
}

.address_main_office,
.title_contacts_office_work_block {
  font-weight: 600;
}

.discript_work_day_office_block {
  font-weight: 400;
}

.title_disc_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.link_number_contact_block {
  color: #4f4f4f;
}

.social_block {
  margin-top: 50px;
}

.btn_insta {
  margin: 0 20px;
}

.title_work_day_office_block {
  margin-bottom: 15px;
}

.place_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
}

.second_paragraph_text_block__place_block {
  margin-top: 35px;
}

.gallery__place_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.img_gallery__place_block {
  width: 267px;
  height: 267px;
  margin: 0;
}

.text_block__place_block {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 10px;
  padding-right: 100px;
}

.title_text_block__place_block,
.first_paragraph_text_block__place_block,
.second_paragraph_text_block__place_block {
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 108%;
  letter-spacing: -0.01em;
}

.first_paragraph_text_block__place_block,
.second_paragraph_text_block__place_block {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}

.wrapper_back_contact {
  background: #fcfcfc;
}

.back_contact {
  margin-top: 100px;
  padding-top: 100px;
  height: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact_form_feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.column_contact_form_feedback,
.first_column_input,
.second_column_input,
.third_column_input,
.second_wrap_column_form_work_inquiries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 270px;
  font-family: "GothaPro";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
}

.input_feedback_form {
  padding-left: 15px;
  height: 50px;
  background: rgba(17, 17, 17, 0.08);
  border: none;
  opacity: 0.6;
}

.second_column_contact_form_feedback,
.second_column_input {
  margin: 0 40px;
}

.text_block__back_contact {
  width: 240px;
}

.send_form_feedback,
.btn_error {
  width: 176px;
  height: 50px;
  border: none;
  background-color: #e30613;
  color: #fff;
  margin-top: 50px;
  font-family: " GothaPro";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}

.discr_input_form_feedback {
  margin: 30px 0 10px;
}

.news_block__contacts_page {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.img_news_block__contacts_page {
  width: 100%;
}

.img_block__news_block,
.text_block__news_block__contacts_page {
  width: 45%;
}

.title_text_block,
.discr_text_block {
  font-family: "GothaPro";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #4f4f4f;
}

.work_inquairies {
  height: auto;
  padding-bottom: 100px;
}

.title_text_block {
  font-weight: bold;
  font-size: 38px;
  line-height: 108%;
}

.form_work_inquiries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.dsc_input_work_form {
  font-family: "GothaPro";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.01em;
  color: #4f4f4f;
}

.input__form_work_inquiries {
  font-family: "GothaPro";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.01em;
  color: #828282;
}

.first_wrap_column_form_work_inquiries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn_wrap_form_work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.send_form_work {
  margin-left: 40px;
  width: 176px;
  height: 50px;
}

.textarea__feedback_form {
  height: 175px;
  width: 100%;
  padding-top: 15px;
}

.input_file {
  width: 0.1px;
  height: 0.1px;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  opacity: 0;
}

.second_wrap_column_form_work_inquiries {
  width: 930px;
}

.input_file + label {
  font-family: "GothaPro";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  width: 175px;
  padding: 14px;
  margin-top: 50px;
  color: white;
  background-color: #828282;
  text-align: center;
  cursor: pointer;
}

.text_abot_content,
.text_country_list {
  font-family: "GothaPro";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #4f4f4f;
}

.wrap_title_about {
  width: 50%;
}

.wrap_about_discript {
  width: 45%;
}

.new_paragraph__text_abot_content {
  margin-top: 40px;
}

.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column_error_block {
  width: 50%;
  color: #4f4f4f;
}

.title_error {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 26px;
  letter-spacing: -0.01em;
}

.text_error {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.01em;
}

.link_error {
  color: #fff;
}

.title__not_found {
  text-align: left;
  font-family: "GothaPro";
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 108%;
  letter-spacing: -0.01em;
}

.first_error_block {
  width: 70%;
}

.second_error_block {
  width: 30%;
}

.footer {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: #4f4f4f;
}

.footer_column_wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.title_footer_column {
  margin: 0;
}

.item_social_list,
.item_list_address {
  list-style-type: none;
}

.footer_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.privacy_policy {
  width: 1256px;
  padding-top: 25px;
  border-top: solid 1px #191f23;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #283742;
  opacity: 0.8;
}

.social_link_list,
.address_list {
  padding: 0;
}

.social_link,
.item_list_address {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.01em;
  color: #191f23;
  opacity: 0.8;
}

.title_footer_column,
.discript_subscribe {
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.01em;
}

.discript_subscribe {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 16.4px;
  line-height: 26px;
}

.sub_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input_sub {
  padding: 0 0 0 15px;
  width: 150px;
  height: 50px;
  background: #f8f8f8;
  color: #828282;
  border: none;
}

.btn_sub {
  padding: 0;
  width: 125px;
  height: 50px;
  border: none;
  background: #e30613;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}

@media only screen and (max-width: 1250px) {
  .header_logo {
    left: -20px;
  }
  .nav_list {
    width: 500px;
  }
}

@media only screen and (max-width: 1024px) {
  .header_logo {
    left: 0px;
  }
  .nav_list {
    width: 520px;
    margin-left: 80px;
  }
  .about_content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrap_title_about {
    text-align: center;
  }
  .promo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .new_promo_product,
  .news_promo_block {
    width: 38%;
  }
  .our_shops {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper_slider_shops {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .shops_slide {
    width: 23%;
  }
  .text_privacy_policy {
    margin: 0px 57px;
  }
}

@media only screen and (max-width: 980px) {
  .nav_list {
    width: 420px;
    padding-left: 30px;
  }
  .wrap_item__category {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .img_about_1 {
    width: 100%;
  }
  .img_about_2 {
    display: none;
  }
  .about_content {
    padding: 0 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrap_country_list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .promo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .first_partner_list {
    margin-right: 140px;
  }
  .new_promo_product,
  .news_promo_block {
    width: 30%;
  }
  .wrap_about_discript {
    margin-top: 100px;
  }
  .wrap_about_discript_about_page {
    margin-top: 350px;
    width: 100%;
    text-align: center;
  }
  .wrap_title_about {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .our_shops {
    display: none;
  }
  .privacy_policy {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .text_privacy_policy {
    margin: 0 15px;
  }
  .sub_form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .sub_form .input_sub {
    padding: 0;
  }
  .sub_form .btn_sub {
    margin-top: 15px;
  }
  .sub_form .input_sub,
  .sub_form .btn_sub {
    height: 40px;
  }
  .sub_form .column_form_subscribe {
    margin-right: 10px;
  }
  .back_contact {
    margin-top: 50px;
    padding-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .first_wrap_column_form_work_inquiries {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .second_wrap_column_form_work_inquiries {
    width: 55%;
  }
  .btn_wrap_form_work {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .send_form_work {
    margin-left: 0;
  }
  .contact_form_feedback {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .column_contact_form_feedback,
  .first_column_input,
  .second_column_input,
  .third_column_input {
    width: 176px;
  }
  .discr_input_form_feedback {
    margin-top: 15px;
  }
  .second_column_contact_form_feedback,
  .second_column_input {
    margin: 0 25px;
  }
  .send_form_feedback {
    width: 176px;
  }
  .text_block__back_contact {
    width: 100%;
    text-align: center;
  }
  .office_contacts_block {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contacts {
    width: 25%;
  }
  .gallery__place_block {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gallery__place_block .column_gallery__place_block {
    margin-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .img_gallery__place_block {
    margin-left: 25px;
  }
  .place_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .title_text_block__place_block {
    margin-top: 0;
  }
  .text_block__place_block {
    width: 90%;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .news_block__contacts_page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news_block__contacts_page div {
    width: 90%;
  }
}

@media only screen and (max-width: 738px) {
  .main,
  .footer {
    margin-top: 35px;
  }
  .search_form {
    display: none;
  }
  .header_slider_block {
    display: none;
  }
  .header_logo {
    position: relative;
  }
  .nav_list {
    padding-left: 0;
    margin-left: 35px;
  }
  .img_about_1 {
    width: 87%;
  }
  .footer_column_wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .column_social_network {
    margin: 0 100px;
  }
  .logo_column {
    display: none;
  }
  .column_error_block {
    width: 45%;
  }
  .title__not_found {
    font-size: 22px;
  }
  .btn_error {
    width: 145px;
    margin-top: 20px;
  }
}
