.footer {
    padding-top: 95px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #4f4f4f;
}
.footer_column_wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
.title_footer_column {
    margin: 0;
}
.item_social_list {
    list-style-type: none;
}
.item_list_address {
    list-style-type: none;
}
.footer_column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    margin-bottom: 80px;
}
.privacy_policy {
    font-family: "GothaProReg";
    width: 1256px;
    padding: 25px 0;
    border-top: solid 1px #191f23;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #283742;
    opacity: 0.8;
}
.social_link_list,
.address_list {
    padding: 0;
}
.footer_logo_link {
    margin-top: 5px;
}
.social_link,
.item_list_address {
    font-family: "GothaProReg";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.01em;
    color: #191f23;
    opacity: 0.8;
}
.discript_subscribe,
.title_footer_column {
    font-family: "GothaProBol";
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.01em;
    font-style: normal;
    line-height: 32px;
}
.discript_subscribe {
    margin-bottom: 20px;
}

.sub_form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.input_sub {
    padding: 0 0 0 15px;
    width: 150px;
    height: 50px;
    background: #f8f8f8;
    color: #828282;
    border: none;
}
.btn_sub {
    padding: 0;
    width: 125px;
    height: 50px;
    border: none;
    background: #e30613;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
}
.address_list li:not(:first-child) {
    margin: 14px 0;
}
.social_link_list li:not(:first-child) {
    margin: 14px 0;
}
