.header {
    width: 100%;
    background-color: #f8f8f8;
    display: flex;
}
.logo_btn {
    width: 105px;
    height: 105px;
    background: #e30613;
    border: none;
}
.nav {
    width: 1256px;
    display: flex;
    justify-content: space-between;
    height: 105px;
    align-items: center;
    position: relative;
}
.header_logo {
    position: absolute;
    left: 0px;
}
.search_form {
    position: relative;
    display: flex;
}
.search {
    width: 390px;
    height: 50px;
    background: inherit;
    opacity: 0.6;
    border: none;
}
.search:hover {
    transition: 0.7s;
    background: rgba(17, 17, 17, 0.08);
}
.btn_serch {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: inherit;
}
.nav_list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    width: 670px;
    margin-left: 100px;
    padding-left: 100px;
}
.header_slider_block {
    display: block;
    width: 100%;
    height: 660px;
    background-image: url(../assets/img/header_bg.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top;
}
.item_nav_list {
    width: 100px;
}

.nav_link {
    font-family: "GothaProMed";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #828282;
}
.nav_link:hover {
    color: #e30613;
    font-size: 18px;
}
a {
    text-decoration: none;
}
.link_number_contact_block,
.nav_link_item,
.social_link {
    text-decoration: none;
}
.visit_about,
.visit_products,
.visit_shops,
.visit_contacts {
    color: #e30613;
    font-weight: bold;
}
