.header {
    width: 100%;
    background-image: url(../assets/img/header_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
.nav {
    background: #f8f8f8;
    height: 105px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.nav_list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav_link_item:hover {
    color: #e30613;
}
.nav_list__item {
    margin-left: 55px;
}
.nav_link_item,
.social_link {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #828282;
}
.search_form {
    position: absolute;
    right: 50px;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
}
.search {
    border: none;
    width: 380px;
    height: 50px;
    background: url(../assets/img/search.png) no-repeat;
    background-position: center right;
}
