.main {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: "GothaPro";
}
.category {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.wrap_item__category {
    display: flex;
    flex-direction: row;
}
.wrap_discript {
    padding-right: 40px;
}
.item_gategory {
    background-repeat: no-repeat;
    width: 610px;
    height: 360px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.link_home_category {
    text-decoration: none;
    font-family: "GothaPro";
    font-style: normal;
    font-weight: bold;
    font-size: 16.8px;
    line-height: 22px;
    color: #828282;
}
.first_item_category {
    background-image: url(../assets/img/img_home_categories/category_1.png);
}
.second_item_category {
    background-image: url(../assets/img/img_home_categories/category_2.png);
}
.third_item_category {
    background-image: url(../assets/img/img_home_categories/category_3.png);
}
.fourth_item_category {
    background-image: url(../assets/img/img_home_categories/category_4.png);
}
.fifth_item_category {
    background-image: url(../assets/img/img_home_categories/category_5.png);
}
.sixth_item_category {
    background-image: url(../assets/img/img_home_categories/category_6.png);
}
.title_category {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #828282;
}
.discript_category {
    width: 244px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 108%;
    color: #4f4f4f;
}
.btn_catagory {
    font-style: normal;
    font-weight: bold;
    font-size: 16.8px;
    line-height: 22px;
    border: none;
    background: inherit;
    color: #828282;
}
.img_more {
    padding-left: 10px;
}
.about,
.promo,
.our_shops {
    margin-top: 100px;
}
.about {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.gallery {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.about_content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.wrap_title_about {
    width: 55%;
    text-align: left;
    height: 123px;
    color: #4f4f4f;
}
.title_about {
    margin-top: 18px;
    font-family: "GothaPro";
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 108%;
    letter-spacing: -0.01em;
}
.wrap_about_discript {
    width: 40%;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.01em;
    color: #4f4f4f;
}
.key_word {
    font-weight: bold;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.01em;
    color: #4f4f4f;
}
.img_about_1 {
    width: 716px;
    height: 500px;
    img {
        width: 100%;
        height: 100%;
    }
}
.img_about_2 {
    width: 392px;
    height: 500px;
    img {
        width: 100%;
        height: 100%;
    }
}
.wrap_country_list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #4f4f4f;
}
.country_partner {
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.01em;
    color: #4f4f4f;
    list-style: none;
}
.country_partner::before {
    content: "-";
    padding-right: 10px;
}
.first_partner_list,
.second_partner_list {
    padding: 0;
    margin: 0;
}
.first_partner_list {
    margin-right: 210px;
}
.promo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background: #fcfcfc;
}
.new_promo_product,
.news_promo_block {
    width: 50%;
}
.new_promo_product {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.news_promo_block {
    font-family: "GothaPro";
    font-style: normal;
    line-height: 32px;
    color: #4f4f4f;
}
.title_promo {
    font-weight: bold;
    font-size: 26px;
}
.discript_news_promo {
    font-size: 17px;
}
.our_shops {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.wrapper_slider_shops {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.shops_slide {
    width: 33%;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.img_sliders {
    width: 100%;
}
.second_slide {
    margin: 0 40px;
}
.title_shops {
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
}
.discript_slider_shops {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #4f4f4f;
    .discript_font {
        font-weight: 400;
    }
}
.address_shops {
    width: 290px;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    color: #4f4f4f;
}
// contacts
.main_contacts {
    margin: 100px 0;
    color: #4f4f4f;
}
.office_contacts_block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.social_link_btn__contact_block {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #828282;
    background-color: inherit;
}
.location_office {
    width: 60%;
    height: 500px;
    img {
        width: 100%;
        height: 100%;
    }
}
.contacts {
    display: flex;
    flex-direction: column;
    height: 335px;
    width: 35%;
    font-family: "GothaPro";
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.01em;
    font-weight: 600;
    color: #4f4f4f;
}
.address_main_office {
    margin-bottom: 0;
}
.title_address_office_block,
.title_work_day_office_block,
.link_number_contact_block {
    margin-bottom: 0;
}
.address_main_office,
.title_contacts_office_work_block {
    font-weight: 600;
}
.discript_work_day_office_block {
    font-weight: 400;
}
.title_disc_contacts {
    display: flex;
    flex-direction: column;
}
.link_number_contact_block {
    color: #4f4f4f;
}
.social_block {
    margin-top: 50px;
}
.btn_insta {
    margin: 0 20px;
}
.title_work_day_office_block {
    margin-bottom: 15px;
}
.place_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
}

.second_paragraph_text_block__place_block {
    margin-top: 35px;
}
.gallery__place_block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
}
.img_gallery__place_block {
    width: 267px;
    height: 267px;
    margin: 0;
}
.text_block__place_block {
    width: 50%;
    box-sizing: border-box;
    margin-right: 10px;
    padding-right: 100px;
}
.title_text_block__place_block,
.first_paragraph_text_block__place_block,
.second_paragraph_text_block__place_block {
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 108%;
    letter-spacing: -0.01em;
}
.first_paragraph_text_block__place_block,
.second_paragraph_text_block__place_block {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}
.wrapper_back_contact {
    margin-top: 100px;
    background: #fcfcfc;
}
.back_contact {
    padding-top: 100px;
    height: 480px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contact_form_feedback {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.column_contact_form_feedback,
.first_column_input,
.second_column_input,
.third_column_input,
.second_wrap_column_form_work_inquiries {
    display: flex;
    flex-direction: column;
    width: 270px;
    font-family: "GothaPro";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.01em;
}
.input_feedback_form {
    padding-left: 15px;
    height: 50px;
    background: rgba(17, 17, 17, 0.08);
    border: none;
    opacity: 0.6;
}
.second_column_contact_form_feedback,
.second_column_input {
    margin: 0 40px;
}
.text_block__back_contact {
    width: 240px;
}
.send_form_feedback,
.btn_error {
    width: 176px;
    height: 50px;
    border: none;
    background-color: #e30613;
    color: #fff;
    margin-top: 50px;
    font-family: " GothaPro";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
}
.discr_input_form_feedback {
    margin: 30px 0 10px;
}
.news_block__contacts_page {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.img_news_block__contacts_page {
    width: 100%;
}
.img_block__news_block,
.text_block__news_block__contacts_page {
    width: 45%;
}
.title_text_block,
.discr_text_block {
    font-family: "GothaPro";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #4f4f4f;
}
.work_inquairies {
    height: auto;
    padding-bottom: 100px;
}
.title_text_block {
    font-weight: bold;
    font-size: 38px;
    line-height: 108%;
}

.form_work_inquiries {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.dsc_input_work_form {
    font-family: "GothaPro";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    color: #4f4f4f;
}
.input__form_work_inquiries {
    font-family: "GothaPro";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    color: #828282;
}
.first_wrap_column_form_work_inquiries {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn_wrap_form_work {
    display: flex;
    flex-direction: row;
    position: relative;
}
.send_form_work {
    margin-left: 40px;
    width: 176px;
    height: 50px;
}
.textarea__feedback_form {
    height: 175px;
    width: 100%;
    padding-top: 15px;
}
.input_file {
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    opacity: 0;
}
.second_wrap_column_form_work_inquiries {
    width: 930px;
}
.input_file + label {
    font-family: "GothaPro";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    width: 175px;
    padding: 14px;
    margin-top: 50px;
    color: white;
    background-color: #828282;
    text-align: center;
    cursor: pointer;
}
// .input_file:focus + label,
// .input_file + label:hover {
// }

// about
.text_abot_content,
.text_country_list {
    font-family: "GothaPro";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #4f4f4f;
}
.wrap_title_about {
    width: 50%;
}
.wrap_about_discript {
    width: 45%;
}
.new_paragraph__text_abot_content {
    margin-top: 40px;
}
// error page
.error {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.column_error_block {
    width: 50%;
    color: #4f4f4f;
}
.title_error {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 26px;
    letter-spacing: -0.01em;
}
.text_error {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.01em;
}
.link_error {
    color: #fff;
}
