.main {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: "GothaPro";
}
.category {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.second_column_category {
    margin: 40px 0;
}
.wrap_item__category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.wrap_discript {
    width: 245px;
    height: 167px;
    margin-right: 19px;
}
.item_gategory {
    position: relative;
    width: 610px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
    background: #f8f8f8;
}
.first_item_category,
.third_item_category,
.fifth_item_category {
    margin-right: 20px;
}
.second_item_category,
.fourth_item_category,
.sixth_item_category {
    margin-left: 20px;
}
.link_home_category {
    text-decoration: none;
    font-family: "GothaProReg";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
}
.img_goods_catalog_items {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.title_category {
    font-family: "GothaProMed";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #828282;
    margin-top: 0;
}
.discript_category {
    font-family: "GothaProMed";
    width: 244px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 108%;
    color: #4f4f4f;
    margin: 19px 0 13px;
}
.btn_catagory {
    font-style: normal;
    font-weight: bold;
    font-size: 16.8px;
    line-height: 22px;
    border: none;
    background: inherit;
    color: #828282;
}
.img_more {
    padding-left: 10px;
}
.about,
.promo,
.our_shops {
    margin-top: 100px;
}
.about {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.gallery {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.wrap_new_promo_product {
    background-color: #fcfcfc;
    width: 100%;
}
.about_content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 100px 0 81px;
}

.wrap_title_about {
    width: 526px;
    text-align: left;
    color: #4f4f4f;
}
.title_about {
    margin-top: 18px;
    font-family: "GothaProBol";
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 108%;
    letter-spacing: -0.01em;
}
.wrap_about_discript {
    width: 608px;
    font-family: "GothaProMed";
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.01em;
    color: #4f4f4f;
    display: flex;
    flex-direction: column;
}
.key_word {
    font-family: "GothaProMed";
    font-weight: 700;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.01em;
    color: #4f4f4f;
}
.img_about_1 {
    width: 716px;
    height: 500px;
}
.img_about {
    width: 100%;
    height: 100%;
}
.img_about_2 {
    width: 392px;
    height: 500px;
    margin-left: 150px;
}
.wrap_country_list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #4f4f4f;
}
.country_partner {
    font-family: "GothaProMed";
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.01em;
    color: #4f4f4f;
    list-style: none;
}
.country_partner::before {
    content: "-";
    padding-right: 10px;
}
.first_partner_list,
.second_partner_list {
    padding: 0;
    margin: 0;
}
.first_partner_list {
    margin-right: 210px;
}
.promo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background: #fcfcfc;
    margin-bottom: 100px;
}
.new_promo_product {
    width: 608px;
}
.new_promo_product {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.news_promo_block {
    width: 502px;
    font-style: normal;
    line-height: 32px;
    color: #4f4f4f;
}
.title_promo {
    font-family: "GothaProBol";
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
}
.discript_news_promo {
    font-family: "GothaProReg";
    font-size: 26px;
    line-height: 32px;
    font-size: 18px;
}
.our_shops {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 140px;
}
.wrapper_slider_shops {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.shops_slide {
    width: 392px;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.img_sliders {
    width: 100%;
}
.second_slide {
    margin: 0 40px;
}
.title_shops {
    font-family: "GothaProBol";
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 40px 0;
    color: #4f4f4f;
}
.discript_slider_shops {
    margin: 50px 0 0 0;
    font-weight: 700;
    font-family: "GothaProBol";
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #4f4f4f;
}
.discript_font {
    font-family: "GothaProReg";
    font-weight: 400;
    font-size: 18px;
}
.address_shops {
    width: 312px;
    font-family: "GothaProBol";
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    color: #4f4f4f;
}
// contacts
.main_contacts {
    margin: 100px 0;
    color: #4f4f4f;
}
.office_contacts_block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.social_link_btn__contact_block {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #828282;
    background-color: inherit;
}
.location_office {
    width: 716px;
    height: 500px;
    img {
        width: 100%;
        height: 500px;
    }
}
.contacts {
    display: flex;
    flex-direction: column;
    height: 427px;
    width: 234px;
    font-family: "GothaProReg";
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.01em;
    color: #4f4f4f;
    margin-right: 155px;
}
.address_main_office {
    margin: 0;
}
.title_address_office_block {
    font-family: "GothaProBol";
    margin-top: 35px;
    font-size: 16px;
}
.title_contacts_office_work_block {
    margin: 30px 0 0;
    font-size: 16px;
}
.address_main_office,
.title_contacts_office_work_block {
    font-weight: 600;
    font-size: 16px;
}
.discript_work_day_office_block {
    font-weight: 400;
    font-size: 16px;
}
.title_disc_contacts {
    display: flex;
    flex-direction: column;
}
.link_number_contact_block {
    color: #4f4f4f;
    font-family: "GothaProBol";
    font-size: 16px;
}

.social_block {
    margin-top: 50px;
}
.btn_insta {
    margin: 0 20px;
}
.title_work_day_office_block {
    margin: 35px 0 0;
    font-size: 16px;
    font-family: "GothaProBol";
}
.place_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
    padding-bottom: 100px;
}
.discr_input_form_feedback {
    font-family: "GothaProMed";
    font-size: 14px;
}
.second_paragraph_text_block__place_block {
    margin-top: 35px;
}
.gallery__place_block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 501px;
}
.img_gallery__place_block {
    width: 238px;
    height: 238px;
}
.first_img_galery__place_block {
    margin: 0 12.5px 12.5px 0;
}
.second_img_galery__place_block {
    margin: 12.5px 12.5px 0 0;
}
.third_img_galery__place_block {
    margin: 0 0 12.5px 12.5px;
}
.fourth_img_galery__place_block {
    margin: 12.5px 0 0 12.5px;
}
.text_block__place_block {
    width: 605px;
    box-sizing: border-box;
}
.title_text_block__place_block {
    margin: 0 0 40px;
}
.first_paragraph_text_block__place_block,
.second_paragraph_text_block__place_block {
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 108%;
    letter-spacing: -0.01em;
}
.first_paragraph_text_block__place_block,
.second_paragraph_text_block__place_block {
    font-family: "GothaProReg";
    font-size: 16px;
    line-height: 26px;
}
.wrapper_back_contact {
    background: #fcfcfc;
}
.back_contact {
    padding-top: 100px;
    height: 480px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.title_back_contact {
    font-family: "GothaProBol";
    font-size: 32px;
}
.dicsrript_back_contact {
    font-family: "GothaProReg";
    font-size: 16px;
}
.contact_form_feedback {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.column_contact_form_feedback,
.first_column_input,
.second_column_input,
.third_column_input,
.second_wrap_column_form_work_inquiries {
    display: flex;
    flex-direction: column;
    width: 270px;
    font-family: "GothaPro";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.01em;
}
.input_feedback_form {
    padding-left: 15px;
    height: 50px;
    background: rgba(17, 17, 17, 0.08);
    border: none;
    opacity: 0.6;
}
.second_column_contact_form_feedback,
.second_column_input {
    margin: 0 40px;
}
.text_block__back_contact {
    width: 240px;
}
.send_form_feedback,
.btn_error {
    width: 176px;
    height: 50px;
    border: none;
    background-color: #e30613;
    color: #fff;
    margin-top: 50px;
    font-family: " GothaPro";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
}
.discr_input_form_feedback {
    margin: 30px 0 10px;
}
.news_block__contacts_page {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}
.img_news_block__contacts_page {
    width: 100%;
}
.img_block__news_block {
    width: 501px;
}
.text_block__news_block__contacts_page {
    width: 606px;
}
.title_text_block {
    margin: 0 0 40px;
}
.second_paragraph_discr_text_block__contacts_page {
    margin-top: 40px;
}
.discr_text_block {
    font-family: "GothaProReg";
    font-size: 16px;
    line-height: 26px;
    color: #4f4f4f;
}
.work_inquairies {
    height: auto;
    padding-bottom: 100px;
}
.title_text_block {
    font-family: "GothaProBol";
    font-size: 38px;
    line-height: 108%;
}

.form_work_inquiries {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.dsc_input_work_form {
    font-family: "GothaProReg";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    color: #4f4f4f;
}
.input__form_work_inquiries {
    font-family: "GothaPro";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    color: #828282;
}
.first_wrap_column_form_work_inquiries {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn_wrap_form_work {
    display: flex;
    flex-direction: row;
    position: relative;
}
.send_form_work {
    margin-left: 40px;
    width: 176px;
    height: 50px;
}
.textarea__feedback_form {
    height: 175px;
    width: 100%;
    padding-top: 15px;
    resize: none;
    color: #828282;
}
.input_file {
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    opacity: 0;
}
.second_wrap_column_form_work_inquiries {
    width: 930px;
}
.input_file + label {
    font-family: "GothaPro";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    width: 175px;
    padding: 14px;
    margin-top: 50px;
    color: white;
    background-color: #828282;
    text-align: center;
    cursor: pointer;
}
// .input_file:focus + label,
// .input_file + label:hover {
// }

// about
.about {
    align-items: center;
}
.text_abot_content,
.text_country_list {
    color: #4f4f4f;
}
.about_us {
    margin: 0;
}
.wrap_title_about {
    margin-right: 40px;
}
.column_content_about_page {
    width: 606px;
}
.title_about_page {
    margin-bottom: 35px;
}
.title_country_list_about_page {
    margin-bottom: 40px;
}
.new_paragraph__text_abot_content {
    margin-top: 40px;
}
.second_paragraph_text_block__about_page {
    margin-top: 35px;
}
.text_content_about_page {
    font-family: "GothaProReg";
    font-size: 16px;
    line-height: 26px;
}
.first_paragraph_country_list_about_page {
    margin: 45px 0 25px;
}
// error page
.error {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.column_error_block {
    color: #4f4f4f;
}
.title_error {
    font-family: "GothaProBol";
    font-size: 36px;
    line-height: 26px;
    letter-spacing: -0.01em;
}
.text_error_page {
    font-family: "GothaProBol";
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.01em;
}
.link_error {
    color: #fff;
}
.title__not_found {
    text-align: left;
    font-family: "GothaProBol";
    font-size: 38px;
    line-height: 108%;
    letter-spacing: -0.01em;
}
.second_error_block {
    margin-left: 145px;
}
// goods
.wrap_goods {
    display: flex;
    flex-direction: column;
}
.nav_main {
    display: flex;
    justify-content: space-between;
    height: 25px;
    margin-bottom: 28px;
}
.breadcrumbs {
    font-family: "GothaProReg";
    font-size: 16px;
    color: #4f4f4f;
}
.btn_goods_home {
    height: 24px;
    border: none;
    background: inherit;
    vertical-align: middle;
}
.link_goods_home {
    font-family: "GothaProMed";
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    letter-spacing: -0.01em;
    color: #e30613;
}
.text_in_btn {
    margin-left: 14px;
}
.goods {
    color: #828282;
    line-height: 26px;
    letter-spacing: -0.01em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}
.goods_block {
    width: 608px;
    margin-right: 40px;
}
.discript_block_goods_shops_page_product {
    width: 530px;
    margin-right: 90px;
}
.title__discript_goods {
    font-family: "GothaProBol";
    font-size: 36px;
    color: #4f4f4f;
}
.mark_goods {
    font-family: "GothaProReg";
    font-size: 16px;
    color: #4f4f4f;
    line-height: 26px;
    letter-spacing: -0.01em;
}
.disc_category_goods {
    font-family: "GothaProReg";
    font-size: 16px;
    color: #828282;
    line-height: 26px;
    letter-spacing: -0.01em;
}
.text_goods_card {
    font-family: "GothaProReg";
    font-size: 16px;
    color: #4f4f4f;
}
.chek_list {
    font-family: "GothaProMed";
    font-size: 16px;
    color: #4f4f4f;
    line-height: 26px;
    letter-spacing: -0.01em;
    padding-left: 23px;
}
.item_check_list {
    list-style-image: url(../assets/img/goods_vector.svg);
}
