@font-face {
    font-family: "GothaProBol";
    src: local("GothaProBol"), url("../assets/fonts/GothaProBol.eot");
    font-family: "GothaProMed";
    src: local("GothaProMed"), url("../assets/fonts/GothaProMed.eot");
    font-family: "GothaProReg";
    src: local("GothaProReg"), url("../assets/fonts/GothaProReg.eot");
}

body {
    margin: 0;
    font-family: "GothaProBol", "GothaProMed", "GothaProReg";
    box-sizing: border-box;
    overflow-x: hidden;
}
input[type="text"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}
input[type="text"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}
.wrap {
    width: 100%;
    margin-left: auto;
}
.wrapper {
    max-width: 1256px;
    margin: auto;
}
input[type="button"] {
    font-family: "GothaProMed";
    font-size: 16px;
}
@import "_header";
@import "_main";
@import "_footer";
@media only screen and (max-width: 1366px) {
    .nav {
        width: 100%;
    }
}
@media only screen and (max-width: 1180px) {
    .place_block {
        justify-content: center;
    }
    .column_gallery__place_block {
        display: flex;
    }
}
@media only screen and (max-width: 1250px) {
    .header_logo {
        left: -20px;
    }
    .nav_list {
        width: 500px;
    }
    .text_block__place_block {
        text-align: center;
        padding: 0;
        width: 54%;
    }
    .search {
        width: 340px;
    }
}
@media only screen and (max-width: 1024px) {
    .header_logo {
        left: 0px;
    }
    .nav_list {
        width: 520px;
        margin-left: 80px;
    }
    .search {
        width: 300px;
    }
    .about_content {
        justify-content: center;
    }
    .wrap_title_about {
        text-align: center;
    }
    .promo {
        justify-content: center;
    }
    .new_promo_product,
    .news_promo_block {
        width: 38%;
    }
    .our_shops {
        align-items: center;
    }
    .wrapper_slider_shops {
        justify-content: center;
    }
    .shops_slide {
        width: 23%;
    }
    .text_privacy_policy {
        margin: 0px 57px;
    }
    .gallery__place_block {
        width: 100%;
        flex-direction: column;
        align-items: center;
        .column_gallery__place_block {
            margin-top: 25px;
            display: flex;
            flex-direction: row;
        }
    }
    .first_img_galery__place_block,
    .second_img_galery__place_block,
    .third_img_galery__place_block,
    .fourth_img_galery__place_block {
        margin: 0;
    }
    .img_gallery__place_block {
        margin-left: 25px;
    }
    .place_block {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .title_text_block__place_block {
        margin-top: 0;
    }
    .text_block__place_block {
        width: 90%;
        text-align: center;
        margin: 0;
        padding: 0;
    }
}
@media only screen and (max-width: 980px) {
    .about {
        align-items: center;
    }
    .nav_list {
        width: 420px;
        padding-left: 30px;
    }
    .search {
        width: 280px;
    }
    .wrap_item__category {
        flex-direction: column;
        align-items: center;
    }
    .gallery {
        justify-content: center;
    }
    .img_about_1 {
        width: 100%;
    }
    .img_about_2 {
        display: none;
    }
    .about_content {
        padding: 0 20px;
        align-items: center;
        flex-direction: column;
    }
    .wrap_country_list {
        justify-content: center;
    }
    .promo {
        flex-direction: column;
    }
    .first_partner_list {
        margin-right: 140px;
    }
    .new_promo_product,
    .news_promo_block {
        width: 30%;
    }
    .wrap_about_discript_about_page {
        width: 100%;
        text-align: center;
    }
    .wrap_title_about {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .our_shops {
        display: none;
    }
    .privacy_policy {
        width: 100%;
        justify-content: space-between;
    }
    .text_privacy_policy {
        margin: 0 15px;
    }
    .sub_form {
        flex-direction: column;
        align-items: flex-start;
        .input_sub {
            padding: 0;
        }
        .btn_sub {
            margin-top: 15px;
        }
        .input_sub,
        .btn_sub {
            height: 40px;
        }
        .column_form_subscribe {
            margin-right: 10px;
        }
    }
    .back_contact {
        margin-top: 50px;
        padding-top: 50px;
        flex-direction: column;
        align-items: center;
    }
    .first_wrap_column_form_work_inquiries {
        justify-content: center;
    }
    .second_wrap_column_form_work_inquiries {
        width: 55%;
    }
    .btn_wrap_form_work {
        flex-direction: column;
    }
    .send_form_work {
        margin-left: 0;
    }
    .contact_form_feedback {
        justify-content: space-around;
    }
    .column_contact_form_feedback,
    .first_column_input,
    .second_column_input,
    .third_column_input {
        width: 176px;
    }
    .discr_input_form_feedback {
        margin-top: 15px;
    }
    .second_column_contact_form_feedback,
    .second_column_input {
        margin: 0 25px;
    }
    .send_form_feedback {
        width: 176px;
    }
    .text_block__back_contact {
        width: 100%;
        text-align: center;
    }
    .office_contacts_block {
        justify-content: space-around;
    }
    .contacts {
        width: 25%;
    }
    .footer_column_wrap {
        justify-content: space-around;
    }
    .news_block__contacts_page {
        flex-direction: column;
        align-items: center;
        div {
            width: 90%;
        }
    }
}
@media only screen and (max-width: 812px) {
    .main,
    .footer {
        margin-top: 35px;
    }
    .search_form {
        display: none;
    }
    .header_slider_block {
        display: none;
    }
    .header_logo {
        position: relative;
        left: -26px;
    }
    .nav_list {
        padding-left: 0;
        margin-left: 35px;
    }
    .img_about_1 {
        width: 87%;
    }
    .footer_column_wrap {
        justify-content: center;
    }
    .column_social_network {
        margin: 0 100px;
    }
    .logo_column {
        display: none;
    }
    .column_error_block {
        width: 45%;
    }
    .title__not_found {
        font-size: 22px;
    }
    .btn_error {
        width: 145px;
        margin-top: 20px;
    }
    .first_partner_list {
        margin-right: 65px;
        text-align: left;
    }
    .second_partner_list {
        text-align: left;
    }
}
@media only screen and (max-width: 620px) {
    .logo_btn {
        display: none;
    }
    .item_nav_list {
        width: 25%;
    }
    .nav_list {
        margin: 0;
    }
    .item_nav_list:not(:first-child) {
        margin-left: 15px;
    }
    .img_about_1 {
        width: auto;
        height: auto;
    }
    .img_about {
        height: auto;
    }
    .column_social_network {
        margin: 0 20px;
    }
}
