@font-face {
    font-family: "Gotha";
    src: local("GothaProIta"), url("../assets/fonts/GothaProIta.eot");
    font-style: normal;
    font-weight: normal;
}
body {
    margin: 0;
    font-family: "Gotha", sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}
input[type="text"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}
input[type="text"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}
.wrapper {
    max-width: 1680px;
    margin: auto;
    padding: 25px;
}
@import "_header";
@import "_main";
@import "_footer";

// header end
// start main
@media only screen and (max-width: 1600px) {
    .img_about_1 {
        margin-right: 80px;
    }
}

@media only screen and (max-width: 1400px) {
    .gallery {
        justify-content: center;
    }
    .img_about_2 {
        display: none;
    }
    .img_about_1 {
        margin: 0;
    }
    .about_content {
        align-items: center;
        flex-direction: column;
    }
    .wrap_country_list {
        justify-content: center;
    }
    .first_partner_list {
        margin-right: 50px;
    }
    .wrap_title_about {
        width: 100%;
        text-align: center;
    }
    .img_sliders {
        width: 250px;
        height: 250px;
    }
    .location_office {
        margin-right: 50px;
    }
}
@media only screen and (max-width: 1280px) {
    .nav {
        justify-content: stretch;
    }
    .nav_list {
        width: 45%;
    }
    .footer_column_wrap {
        justify-content: center;
    }
    .search_form {
        margin: 0px;
    }
    .wrapper {
        max-width: 1280px;
    }
    .wrap_item__category {
        flex-direction: column;
    }
    .promo {
        flex-direction: column;
    }
    .privacy_policy {
        width: 1000px;
    }
    .footer_column {
        width: 20%;
    }
    .input_sub {
        width: 125px;
    }
    .btn_sub {
        width: 100px;
    }
}
@media only screen and (max-width: 1024px) {
    .wrapper {
        max-width: 1024px;
    }
    .footer_column {
        width: 15%;
    }
    .privacy_policy {
        width: 880px;
    }
    .nav_list {
        width: 55%;
    }
    .nav_list__item {
        margin-left: 25px;
    }
    .search {
        width: 240px;
    }
}
